@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff') format('woff'),
       url('../fonts/MullerLight.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff') format('woff'),
       url('../fonts/MullerRegular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Muller', sans-serif;
  background: #F1F1F1;
}
.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.flex {
  display: flex;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.section-title {
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Muller", sans-serif;
  font-weight: 400;
  font-size: 40px;
}
.section-indents {
  margin-bottom: 70px;
}
.text {
  font-family: "Muller";
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}
.header {
  margin-top: 30px;
  margin-bottom: 60px;
}
.header-container-centering {
  align-items: center;
}
.header-container-top {
  margin-bottom: 30px;
}
.contact-phone {
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
}
.logo {
  margin-right: 40px;
}
.btn-personal-account {
  font-weight: 500;
  font-size: 16px;
  color: #CC9933;
  background-image: url(../img/btn-personal-account-arrow.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 29px;
}
.nav-container {
  padding: 0 45px;
  height: 70px;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.nav-list-item {
  margin-right: 45px;
  color: #666666;

}
.nav-list {
  margin-right: auto;
}
.header-btn:not(:last-child) {
  margin-right: 40px;
}
.btn {
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid #CC9933;
  font-weight: 400;
  font-size: 16px;
  color: #CC9933;
}
/* special-offers */
.special-offers-list {
  max-height: 600px;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}
.special-offers-list-item {
    display: flex;
  flex-direction: column;
  width: 570px;
  height: 258px;
  padding: 40px 108px 40px 45px;
  border-radius: 15px;
}
.special-offers-list-item-big {
  padding: 212px 45px 40px 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 540px;
  color: #fff;
}
.special-offers-list-item-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 900;
  font-size: 40px;
  color: #fff;
}
.special-offers-price {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
.price-big {
  font-size: 30px;
}
.title-big {
  margin: 0;
  font-size: 60px;
}
.special-offers-img1 {
  background-image:
  linear-gradient(to right, rgba(48, 64, 89, 0.84), rgba(53, 65, 83, 0)),
  url(../img/special-offers-img1.jpg);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}
.special-offers-img2 {
  background-image:
    linear-gradient(to right, rgba(48, 64, 89, 0.84), rgba(53, 65, 83, 0)),
  url(../img/special-offers-img2.jpg);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}
.special-offers-img3 {
  background-image: url(../img/special-offers-img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.special-offers-link {
  margin-top:auto;
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  color: #CC9933;
  background-image: url(../img/link-arrow-more.svg);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 16px;
}
/* about-us */
.about-us {
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
}
.about-us-text {
  max-width: 888px;
    margin: 0;
}
/* services */
.services-list {
  height: fit-content;
  flex-wrap: wrap;
  gap: 24px;
}
.services-list-item {
  margin: 0;
  flex-direction:row;
  width: 573px;
  height: 330px;
  border-radius: 15px;
  background-color: #fff;
}
.services-list-item-about {
  margin: 0;
  padding: 26px 126px 35px 45px;
}
.services-list-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
  width: fit-content;
  color: #CC9933;
  background-image: url(../img/link-arrow-more.svg);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 16px;
}
.services-list-item-description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
}
/* advantages */
.advantages-list {
  flex-wrap: wrap;
  gap: 22px;
}
.advantages-list-item {
  padding: 40px 42px 32px 45px;
  width: 276px;
  height: 276px;
  border-radius: 15px;
  background-color: #fff;
}
.advantages-list-item-desc {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
}
.advantages-list-item-img {
  margin-bottom: 10px;
}
/* accommodation */
.accommodation-list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.accommodation-list-item {
  position: relative;
  width: 374px;
  height: 440px;
  border-radius: 15px;
  background-color: #fff;
}
.accommdation-list-item-desckr {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 32px 45px 45px 45px;
}
.accommdation-list-item-price {
  margin: 0;
  margin-bottom: 16px;
}
.accommodation-list-item-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
}
.prefix {
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}
.price{
  font-weight: 900;
  font-size: 20px;
}
.postfix{
  font-weight: 500;
  font-size: 16px;
}
.accommodation-list-item-geolocation {
  margin: 0;
  margin-bottom: 20px;
  color: #999999;

}
.star-container {
  position: absolute;
  right: 25px;
}
.accommodation-btn {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 42px;

}
.more-hotel {
  position: relative;
}
.accommodation-list-item-btn {
  position: absolute;
  left: 54px;
  bottom: 27px;
  z-index: 1;
  font-weight: 600;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
  background-image: url(../img/link-arrow-more-white.svg);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 16px;
}
/* want-tour */
.want-tour {
  padding: 45px 0px 45px 0;
  border-radius: 15px;
  flex-direction: column;
  background-color: #E9E9E9;
}
.form {
  margin: 0 auto;
  width: 1080px;
  height: 106px;
  padding: 32px 28px;
  border-radius: 15px;
  background-color: #fff;
}
.form-list-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 12px;
}
.form-list {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 41px;
}
.form-list-item-font {
  font-weight: 500;
  font-size: 16px;
}
.form-select-size {
  min-width: 169px;
  min-height: 16px;
}
.form-num-date-size {
  width: 121px;
  height: 16px;
}
.form-borders {
  border: 0;
}
.form-borders-bottom {
  border-bottom: 1px solid #E9E9E9;
}
.form-list-item:last-child {
  margin-right: 51px;
}
/* contacts */
.contacts {
  flex-direction: row;
  padding: 45px;
  border-radius: 15px;
  background: #FFFFFF;
}
.contacts-left {
  margin-right: 52px;
  width: 375px;
  height: 528px;
}
.contacts-list {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
}
.contacts-list-item {
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 22px;
  width: 375px;
}
.contacts-list-item:not(:last-child) {
  border-bottom:1px solid #E9E9E9;
}
.contacts-list-item-left {
  width: 40%;
}
.contacts-list-item-right {
  width: 60%;
}
.contacts-list-item-left-title {
  font-weight: 900;
  font-size: 20px;
}
.contacts-item-info {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}
.contacts-list-item-right-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}
.btn-contacts {
  padding: 25px 29.5px;
  width: 217px;
  height: 70px;
}
.contacts-list-item:last-child{
  padding: 0;
  padding-top: 22px;
}
.contacts-right {
  border-radius: 15px;
  background-image: url(..//img/contacts-img.jpg);
  width: 653px;
  height: 528px;
}
/* footer */
.footer-container {
  position: relative;
  flex-direction: row;
  padding: 45px;
  border-radius: 15px;
  background-color: #333333;
  background-image: url(../img/footer-big-icon.svg);
  background-position: 82% 100%;
  background-repeat: no-repeat;
}
.left-footer-block {
  margin-right: 125px;
  max-width: 341px;
  flex-direction: column;
}
.right-footer-block {
  flex-direction: column;
}
.footer-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #fff;
}
.footer-name {
  margin-bottom: 37px;
}
.footer-dop-info {
  margin-bottom: 40px;
}
.footer-address-link {
  margin-bottom: 15px;
}
.footer-link-icons {
  position: absolute;
  top: 45px;
  right: 45px;
  flex-direction: column;
  gap: 15px
}
