@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff') format('woff'),
       url('../fonts/MullerLight.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff') format('woff'),
       url('../fonts/MullerRegular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Muller', sans-serif;
}
.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.flex {
  display: flex;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section-title {
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Muller", sans-serif;
  font-weight: 400;
  font-size: 40px;
}
.section-indents {
  margin-bottom: 70px;
}
.text {
  font-family: "Muller";
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}
.header {
  margin-top: 30px;
  margin-bottom: 60px;
}
.header-container-centering {
  align-items: center;
}
.header-container-top {
  margin-bottom: 30px;
}
.contact-phone {
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
}
.logo {
  margin-right: 40px;
}
.nav-container {
  padding: 0 45px;
  height: 70px;
}
.nav-list-item {
  margin-right: 45px;
}
.nav-list {
  margin-right: auto;
}
.header-btn:not(:last-child) {
  margin-right: 40px;
}
.header-btn {
  outline: 1px solid #000;
  width: fit-content;
  height: 42px;
}
/* special-offers */
.special-offers-list {
  max-height: 600px;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}
.special-offers-list-item {
  width: 570px;
  height: 258px;
  padding: 45px 100px 40px 45px;
  outline: 1px solid #000;
}
.special-offers-list-item-big {
  display: flex;
  flex-direction: column;
  height: 540px;
}
.special-offers-list-item-title-small {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 40px;
}
.special-offers-price {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
}
.special-offers-list-item-title-big {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 60px;
}
/* about-us */
.about-us {
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
}
.about-us-text {
  margin: 0;
}
/* services */
.services-list {
  height: fit-content;
  flex-wrap: wrap;
  gap: 24px;
}
.services-list-item {
  margin: 0;
  flex-direction:row;
  width: 573px;
  height: 330px;
  outline: 1px solid #000;
}
.services-list-item-about {
  margin: 0;
  padding: 26px 126px 35px 40px;
}
.services-list-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
}
.services-list-item-description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
}
/* advantages */
.advantages-list {
  flex-wrap: wrap;
  gap: 22px;
}
.advantages-list-item {
  padding: 40px 42px 32px 45px;
  width: 276px;
  height: 276px;
  border-radius: 15px;
  outline: 1px solid #000;
}
.advantages-list-item-desc {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
}
.advantages-list-item-img {
  margin-bottom: 10px;
}
/* accommodation */
.accommodation-list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.accommodation-list-item {
  position: relative;
  width: 374px;
  height: 440px;
  outline: 1px solid #000;
}
.accommdation-list-item-desckr {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 32px 45px 45px 45px;
}
.accommdation-list-item-price {
  margin: 0;
  margin-bottom: 16px;
}
.accommodation-list-item-title {
  margin: 0;
  margin-bottom: 16px;
}
.accommodation-list-item-geolocation {
  margin: 0;
  margin-bottom: 20px;
}
.star-container {
  position: absolute;
  right: 25px;
}
.accommodation-btn {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 42px;
  border: 1px solid #000;
}
.more-hotel {
  position: relative;
}
.accommodation-list-item-btn {
  position: absolute;
  left: 54px;
  bottom: 27px;
  z-index: 1;
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
}
